%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function
]}.

{plugins, [
    rebar3_hex,
    {rebar3_lint, "1.0.1"}
]}.

{deps, [
    {enacl, "1.2.1"}
]}.

{profiles, [
    {test, [
        {deps, [
            {jsx, "3.1.0"}
        ]},
        {dialyzer, [{plt_extra_apps, [
            eunit,
            common_test,
            runtime_tools,
            jsx
        ]}]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions,
    locals_not_used
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

%% Linter config
{elvis, [
    #{
        dirs => ["src", "test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_text_style, line_length, #{
                limit => 120,
                skip_comments => false
            }},
            % Readable code for building bin keys
            {elvis_style, atom_naming_convention, #{
                ignore => [enoise_crypto]
            }},
            {elvis_style, dont_repeat_yourself, #{
                ignore => [enoise_protocol]
            }}
        ]
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        rules => [
            {elvis_text_style, line_length, #{limit => 80}},
            {elvis_text_style, no_tabs},
            {elvis_text_style, no_trailing_whitespace}
        ]
    },
    #{
        dirs => ["src"],
        filter => "*.app.src",
        rules => [
            {elvis_text_style, line_length, #{limit => 80}},
            {elvis_text_style, no_tabs},
            {elvis_text_style, no_trailing_whitespace}
        ]
    }
]}.

